apiVersion: v1
kind: Service
metadata:
  name: mysql-external
  namespace: prod
spec:
  type: ClusterIP
  ports:
  - port: 3306
    targetPort: 3306
    protocol: TCP
---
apiVersion: v1
kind: Endpoints
metadata:
  name: mysql-external
  namespace: prod
subsets:
- addresses:
  - ip: 10.0.20.42  # Private IP of MySQL Compute instance in OCI VCN
  ports:
  - port: 3306
    protocol: TCP
