<header>
  <nav class="navbar">
    <div class="logo">
      <img src="assets/images/logoNoBckgroungNoLetters.png" alt="SPIRITBLADE Logo" class="logo-img">
      <span class="logo-text">SPIRITBLADE</span>
    </div>
    <div class="nav-links">
      <a routerLink="/">Home</a>
      <a *ngIf="!isAuthenticated" routerLink="/login">Login</a>
      <!-- Regular users can access dashboard -->
      <a *ngIf="isAuthenticated && !isAdmin" routerLink="/dashboard">Dashboard</a>
      <!-- Admins can only access admin panel -->
      <a *ngIf="isAuthenticated && isAdmin" routerLink="/admin">Admin Panel</a>
      <a *ngIf="isAuthenticated"  href="" (click)="logout()">Logout</a>
    </div>
  </nav>
</header>